.card {
  width: 272px;
  min-height: 208px;
  list-style: none;
  position: relative;
  cursor: pointer;
  transition: opacity 0.4s ease-out;
}

.card:hover {
  opacity: 0.6;
}

.price {
  vertical-align: top;
}

.link {
  text-decoration: none;
  color: unset;
}
